{% extends 'base.html.twig' %}

{% block title %}Vetement{% endblock %}

{% block body %}
    <h1>Vetement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdVet</th>
                <td>{{ vetement.idVet }}</td>
            </tr>
            <tr>
                <th>NomVet</th>
                <td>{{ vetement.nomVet }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vetement.prix }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ vetement.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vetement_index') }}">back to list</a>

    <a href="{{ path('vetement_edit', {'idVet': vetement.idVet}) }}">edit</a>

    {{ include('vetement/_delete_form.html.twig') }}
{% endblock %}
